@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_container{
    height: 15vh;
    background-color: green;
}

.header_container h1{
    font-family: 'Protest Strike', sans-serif;
    color: white;
    font-size: 2.5rem;
}


ul{
    list-style: none;
}

ul li{
    margin-left:1rem ;
    font-weight: bolder;
}

ul a{
    text-decoration: none;
    color: white;
}

 .home{
    color: black;
}

ul a:hover{
    color: black;
    transition: 0.5s;
}

.hero{
    height: 85vh;
    width: 100%;
    background-image: url(images/Home\ AboutUs1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero h1{
    font-size: 3rem;
    color: rgb(166, 236, 61);
}

.hero h1 span{
    color: rgb(64, 216, 64)
}

.hero p{
    font-size: 1.5rem;
    color: white;
    margin: 0 300px;
    text-align: center;
}